* {
    border-radius: 0 !important;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
}

html {
    overflow-y: scroll;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.x_panel, .x_title {
    margin-bottom: 10px;
}
.degrees:after, .x_content, .x_panel {
    position: relative;
}

.form-group {
    margin-bottom: 0px !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
    /*margin-top: 10px;*/
}

h5 {
    margin-top: 10px;
    margin-bottom: 3px;
}

.highcharts-contextmenu hr {
    margin-bottom: 0;
    margin-top: 0;
}

.ui-autocomplete {
    background: #fff;
    height: 200px;
    overflow: scroll;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 8px 0px #d4d4d4;
}

.checkbox, .radio {
    /*margin-bottom: 0px !important;*/
}


/**
Intro screen
 */

.intro {
    height:100%;
    /*background: green;*/
    /*width: 300px;*/
    border : 1px solid #9d9d9d;
    border-radius: 20px !important;
    box-shadow: 0 0 8px 0px #d4d4d4;

}

.center {
    width: 300px;
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
